
@inherits LayoutComponentBase

<div class="d-flex flex-column min-vh-100">
    <header class="navbar navbar-light px-3" style="background-color: var(--bs-success);">
        <img src="img/chill.png" style="height:48px" class="me-2" />
        <span class="navbar-brand mb-0 h4 text-white">Conference Score Pad</span>
    </header>

    <main class="flex-fill container py-3">
        @Body
    </main>

    <footer class="text-center small py-2 border-top">
        &copy; @DateTime.Now.Year Conference Score Pad
    </footer>
</div>

@code {

}
