<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<staticContent>
			<!-- Tell IIS how to serve .webp -->
			<mimeMap fileExtension=".webp" mimeType="image/webp" />
			<!-- safe-guard: remove in case IIS already knows about .dat -->
			<remove fileExtension=".dat" />
			<!-- new mapping -->
			<mimeMap fileExtension=".dat" mimeType="application/octet-stream" />
		</staticContent>
	</system.webServer>
</configuration>